body {
	padding: 0;
	margin: 0;
}

#header {
  background: black url(http://www.11alive.com/img/resize/content.11alive.com/photo/2016/07/01/download%20_OP_5_CP__1467415004847_3661843_ver1.0.jpg?preset=534-401) center no-repeat;
}
	
#logo {
	position: relative;
	text-align: center;
    width: auto;
    height: auto;
	font-size: 60px;
  font-family: century gothic, Arial, Helvetica, sans-serif;
  color: #204060;
	margin-top: 25px;
	margin-bottom: 25px;
}






ul {
    text-align: center;
    background-color: #6699cc;
    display: cover;
	margin: 0px 0px 15px 0px;
padding: 20px 0px 20px 0px;
	width: auto;
    }
    
    li {
        display: inline-block;
        margin-right: 0px;
        margin-left: 0px;
        width: 15%;
        height: 100%;
	    padding: 15px;
    }

a {
   display: inline-block;
	height: 50%;
   text-decoration: none;
   color: white;
	font-size:24px;
	font-family: century gothic, Arial, Helvetica, sans-serif;
	border-bottom: 2px transparent;
    }

    a:hover {
	    font-weight: bold;
border-bottom: 2px solid white;
	 display: inline-block;
	    
    }


